{% extends "general/layout.html" %}

{% block head_title %}Autores{% endblock%}

{% block page_title %}Pagina de Autores {% endblock %}

{% block page_content%}
    <p>Contenido de la pagina de Autores</p>
    <ul>
        <li><a href="{% url 'autor:create' %}">Añadir nuevo autor</a></li>
    </ul>
    <h2>Lista de autores</h2>
    <ul>
        {% for autor in autores %}
            <li><a href="{% url 'autor:detail' autor.pk %}">{{ autor.nombre }}</a></li>
        {% endfor %}
    </ul> 
{% endblock %}